[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "=8.3.2"
pytest-workflow = "*"

[packages]
cromwell-tools = "*"
fastapi = "*"
pydantic = "*"
biopython = "*"
uvicorn = "*"

[requires]
python_version = "3.11.7"
